/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-jun-2021, 21:19:20
    Author     : user
*/

*{
    margin:0px;
    padding:0px;
    font-family: helvetica neue;
    font-weight: lighter;
}
body {
    
    background-image: url(../Img/Sena.png);   
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

nav{
    position:fixed;
    width:300px;
    height:100%;
    background-color:#2d2d2d;

}
ul{
    margin-top:150px;
    list-style: none;
    display:block;	
}
li{
    width: 100%;
    height:50px;
    border-bottom:1px solid #323232;
    overflow:hidden;
}
p.menu{
    position:relative;
    padding:16px;
    padding-right:25px;
    float:right;
    color:white;
    font-size: 1.2em;
    font-family: helvetica neue;
}
div.barra{
    position:absolute;
    height:50px;
    width:0px;
    background-color: #ff9100;
    -moz-transition:width .2s;
}
li:hover div.barra{
    width: 300px;
    background-color:#ff9100;

}