/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-jun-2021, 15:16:01
    Author     : Sofia Paola
*/
*{
    margin:0px;
    padding:0px;
}
body{
    margin: 0;
	padding: 0;
	background-color: orangered;
	background-attachment: fixed;
}

.container{
    height: 400px;
    width: 400px;
    background-color: #fff;
    top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-100%, -50%);
}

#logo {
    width: 70px;
    height: 60px;
}

h1{
    margin: 0;
	padding: 0;
    text-align: center;
    font-family: cursive;
    margin-bottom: 4%;
}

input{
    background-color: #F3E5F5;
    border-radius: 50px;
    padding: 12px 15px 12px 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #F3E5F5;
    font-family: cursive;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
}

input:focus{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #279910;
    outline-width: 0;
    font-weight: 400;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background: #279910;
    padding: 15px;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;
}

.btn-color:hover {
    color: #fff;
    background: orangered;
}

a{
    color: #000;
    font-family: cursive;
}

a:hover {
    color: #279910;
}

.container1{
    height: 400px;
    width: 400px;
    background-color: #279910;
    top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(0%, -50%);
}

.logo1{
    width: 70px;
    height: 60px;
}