/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-jun-2021, 15:16:01
    Author     : Sofia Paola
*/

*{
    margin:0px;
    padding:0px;
    font-family: helvetica neue;
    font-weight: lighter;
}
body {
    background-color: #2EEC22;  
    background-size: 50vw 50vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.wrapper1{
    width: 450px;
    height: 600px;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(50%, -50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px;
    background-color: white;
    color: #2EEC22;
}
img{
    width: 40px;
    height: 40px;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-align: center;
    margin-bottom: 8%;
    font-family: Courgette;
}
.wrapper1 input{
    width: 100%;
    margin-bottom: 20px;
}
.wrapper1 input[type=text], .wrapper1 input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 60px;
    font-size: 16px;
    opacity: 1;
}
.wrapper1 input[type=submit], .wrapper input[type=submit]{
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    background: green;
    color: white;
    font-size: 14px;
    font-weight: bold;
}